table, th, td{
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px 10px 10px;
}

thead{
    text-align: center;
    font-weight: bold;
}
