@model int
<span class="badge rounded-pill badge-notification bg-danger unread-messages-badge">@Model</span>

<style>
    .unread-messages-badge {
        font-size: 0.8rem;
        padding: 0.2em 0.4em;
    }
</style>
