@page
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.ModelBinding;
@model PictureModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Picture;
}

<form id="profile-form" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
            <div class="mb-3 text-center">

                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3 pt-3 pb-3" >
                            <input class="form-control mb-2" type="file" name="file" id="file" style="width: 180%" />
                            <button type="submit" id="update-profile-button" name="submit" class="btn btn-outline-dark my-2 blog-button-white">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


