@model PictureVisualizeViewModel

@Html.AntiForgeryToken()

<div style="flex-basis: 20%; padding: 5px; max-height: 100%;">
    <a href="@Url.Action("PictureDetails", "Picture", new { id = Model.Id })">
        <div style="width: 235px; height: 235px; overflow: hidden;">
            <img src="~/images/@Model.PictureUrl" alt=" "
                 class="block" style="width: 100%; height: 100%; object-fit: cover; border: 1px solid black">
        </div>
    </a>
</div>
<style>
    img:hover {
        filter: brightness(150%);
    }
</style>
