<style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.5;
        }
        h1 {
            font-size: 24px;
            color: wheat;
        }
        h2 {
            font-size: 18px;
            color: wheat;
        }
        p {
            margin: 0 0 1em;
        }
    </style>
<h1>About Us</h1>

<p>© Artful Adventure is a platform that allows users to showcase their creativity and connect with others who share their passion for art. With features such as user profiles, a user panel, exploring and searching functionality, uploading functionality, and a messaging system, [Your Website] provides a comprehensive and user-friendly experience for its users.</p>

<p>The website was created by Dian Radoslavov, also known as <a href="https://github.com/mokgul">mokgul</a> on GitHub. Dian is a software engineer who is passionate about coding, math, and drawing. He is currently learning C# at SoftUni and is a global moderator at SoftUni's Discord Global Community. Dian is dedicated to helping others and is always willing to lend a hand if he is available.</p>

<p>© Artful Adventure uses the <a href="https://github.com/robinrodricks/FluentFTP">FluentFTP</a> library to store its data on a remote server, ensuring that user data is secure and accessible.</p>

<p>We hope that © Artful Adventure provides a platform for artists to share their work, connect with others, and find inspiration. Thank you for being a part of our community! 😊</p>