<style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.5;
        }
        h1 {
            font-size: 24px;
            color: wheat;
        }
        h2 {
            font-size: 18px;
            color: wheat;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
        li:before {
            color: #333;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    </style>
<h1>Privacy Policy</h1>

<p>This Privacy Policy describes how © Artful Adventure collects, uses, and discloses information about you when you access or use our website, mobile application, and other online products and services (collectively, the “Services”) or when you otherwise interact with us.</p>

<p>We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of the policy and, in some cases, we may provide you with additional notice (such as adding a statement to our homepage or sending you a notification). We encourage you to review the Privacy Policy whenever you access the Services or otherwise interact with us to stay informed about our information practices and the choices available to you.</p>

<br/>
<h1>Information You Provide to Us</h1>

<p>We collect information you provide directly to us. For example, we collect information when you create an account, participate in any interactive features of the Services, fill out a form, participate in a contest or promotion, make a purchase, apply for a job, communicate with us via third-party social media sites, request customer support or otherwise communicate with us. The types of information we may collect include your name, email address, postal address, phone number, payment information (such as credit card or bank account information), and any other information you choose to provide.</p>

<h2>Terms of use or community guidelines to ensure that users behave appropriately:</h2>

<ul>
    <li>• No Inappropriate Content: Users must not upload, post, or share any content that is obscene, pornographic, violent, hateful, or otherwise inappropriate. This includes images, videos, text, and any other form of content.</li>
    <li>• No Offensive Comments: Users must not make comments that are offensive, threatening, abusive, or harassing towards others. This includes comments that are racist, sexist, homophobic, or otherwise discriminatory.</li>
    <li>• No Inappropriate Blogs: Users must not create blogs that contain inappropriate content or promote illegal activities. This includes blogs that promote hate speech, violence, or discrimination.</li>
    <li>• Respect Others: Users must respect the rights and dignity of others. This includes respecting their privacy and not sharing their personal information without their consent.</li>
    <li>
        • Follow the Law: Users must comply with all applicable laws and regulations when using the website. This includes laws related to intellectual property, privacy, and data protection.
        By using the website, users agree to abide by these rules and guidelines. Failure to do so may result in the removal of their content or the suspension or termination of their account.
    </li>
</ul>
<ul>
    <li>• Log Information: We log information about your use of the Services, including the type of browser you use, access times, pages viewed, your IP address and the page you visited before navigating to our Services.</li>
    <li>• Device Information: We collect information about the computer or mobile device you use to access our Services, including the hardware model, operating system and version, unique device identifiers and mobile network information.</li>
    <li>• Location Information: We may collect information about the location of your device each time you access or use one of our mobile applications or otherwise consent to the collection of this information.</li>
    <li>• Information Collected by Cookies and Other Tracking Technologies: We use various technologies to collect information, including cookies and web beacons. Cookies are small data files stored on your hard drive or in device memory that help us improve our Services and your experience, see which areas and features of our Services are popular and count visits. Web beacons are electronic images that may be used in our Services or emails and help deliver cookies, count visits and understand usage and campaign effectiveness. For more information about cookies and how to disable them, please see “Your Choices” below.</li>
</ul>
<br/>
<h2>Information We Collect From Other Sources</h2>

<p>We may also obtain information from other sources and combine that with information we collect through our Services. For example, if you create or log into your account through a social media site, we will have access to certain information from that site, such as your name, account information and friends lists, in accordance with the authorization procedures determined by such social media site.</p>

<h2>Use of Information</h2>

<p>We may use information about you for various purposes, including to:</p>

<ul>
    <li>• Provide, maintain and improve our Services;</li>
    <li>• Provide and deliver the products and services you request, process transactions and send you related information;</li>
    <li>• Send you technical notices, updates, security alerts and support and administrative messages;</li>
    <li>• Respond to your comments, questions and requests and provide customer service;</li>
    <li>• Communicate with you about products, services, offers, promotions, rewards and events offered by Company and others, and provide news and information we think will be of interest to you;</li>
</ul>