@{
    ViewBag.Title = "Non Existing Profile";
}

<section>
    <div class="container py-3">
        
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4" style="width: 20rem;background: radial-gradient(circle at 10% 20%, rgba(218, 203, 246,0.3) 10%, rgba(192, 192, 245,0.1) 33.1%, rgba(218, 203, 246,0.5) 90%); border-color:rgb(218, 203, 246)">
                    <div class="card-body text-center">
                        <img src="~/local/no-profile-picture.jpg" alt=" "
                                 class="block" style="width: 150px;">
                       
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4" style="width: 20rem;background: radial-gradient(circle at 10% 20%, rgba(218, 203, 246,0.3) 10%, rgba(192, 192, 245,0.1) 33.1%, rgba(218, 203, 246,0.5) 90%);border-color:rgb(218, 203, 246)">
                        <div class="card-body text-center">
                            <h5 class="mb-1" style="color:white;">Profile with this username does not exist</h5>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-8">
                <div class="card mb-4" style="background: radial-gradient(circle at 10% 20%, rgba(218, 203, 246,0.3) 10%, rgba(192, 192, 245,0.1) 33.1%, rgba(218, 203, 246,0.5) 90%);border-color:rgb(218, 203, 246)">
                    <div class="card-body">
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card mb-5" style="background: radial-gradient(circle at 10% 20%, rgba(218, 203, 246,0.3) 10%, rgba(192, 192, 245,0.1) 33.1%, rgba(218, 203, 246,0.5) 90%);border-color:rgb(218, 203, 246)">
                        <div class="card-body" style="padding:0">
                            <div class="card-body" style="display: flex; flex-wrap: wrap;">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>